@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Pizzabank</h1>
    <p><a>Your Award Winning Pizzas</a></p>

    <div>
        <img src="~/images/PizzaTime.jpg" class="mainImage"/>
    </div>
    <div class="mt-3">
        <button class="btn btn-danger">Click to Get Started</button>
    </div>
   
</div>

